$primary-color: #352F44;
$secondary-color: #ffffff;
$third-color: #352F44;
$details-color: #310A5D;

body {
    background-color: #293462
    ;
    color: white;
}
.profmar{
    margin-top: 6em;
}

.btn-menu {
    background-color: #5F6F94;
    background-color: cutom-color;
    padding: 1em;
    margin-top: 1em;
}
.profileCard{
    margin-top: 20em;
}
.newalert{
    margin-top: 10em;
}
.regcard{
    margin-top: 10em;
    color: $third-color;
}

.navbarimg {
    width: 150px;
    height: auto;
}

.linkscontainer{
    margin-top: 9em;
}

.logincard{
    text-align: center;
    color: #411E8F;
    margin-top: 15em;
}
.nav {
    font-weight: bold;
    background-color: $third-color;
    border-bottom: solid 0.3em $secondary-color;
    box-shadow: 0.3em -.5em 0.5em 0.5em rgb(255, 255, 255);
}

.newcard {
    color: $details-color;

}


.title {
    opacity: 1;
}